.navbar-container{
    border: 2px;
}
.nav{
    background-color: powderblue;
    list-style-type: none;
    /* justify-content: center; */
    /* height: 5vh; */
    text-align: left;
    padding: 10px;
}
li{
    display: inline;
   justify-content: center;
   padding:10px ;
   
}
li a{
    text-decoration: none;
    color:black ;
}
select{
    text-decoration: none;
}

.sec{
    display: flex;
    border: 2px;
}

.footer-container{
    background-color: gray;
    
}