:root {
    --pink: hsl(322, 100%, 66%);
    --Cyan: hsl(192, 100%, 9%);
    --Blue: hsl(207, 100%, 98%);
}
body{
    margin: 0px;
}



.navbar{
    padding: 40px;
}
.nav-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title img{
    height: 35px;
}

.navbtn{
    background-color: transparent;
    border-radius: 25px;
    border: none;
    /* box-shadow: 0 3px 16px rgba(0,0,0,0.12); */
    border: 2px solid var(--pink);
    padding: 8px 33px;
    color: var(--pink);
    font-size: 15px; 
}

@media screen and (max-width: 490px) {
    .navbar{
        padding: 40px 10px;
    }
    .nav-header{
        padding: 15px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbtn{
        background-color: transparent;
        border-radius: 25px;
        border: none;
        border: 2px solid var(--pink);
        padding: 8px 25px;
        color: var(--pink);
        font-size: 15px; 
    }
    

}
/* 
    banner
 */


.banner-component{
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: 90px auto 40px;
}
.banner-header{
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    color: var(--Cyan);
}
.banner-text{
    text-align: center;
    margin: auto;
    width: 57%;
    font-family: Open Sans;
    font-size: 22px;
    color: var(--Cyan);
  
}
.banner-btn{
    padding: 20px;
}
.banner-btn button{
    border-radius: 50px;
    background-color: var(--pink);
    width: 39%;
    padding: 22px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
}


@media screen and (max-width: 490px) {
    
.banner-component{
    padding: 10px;
    width: 95%;
    text-align: center;
    margin: 90px auto 40px;
}

.banner-text{
    text-align: center;
    margin: auto;
    width: 100%;  
}
.banner-btn{
    padding: 20px;
}
.banner-btn button{
    border-radius: 50px;
    background-color: var(--pink);
    width: 90%;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
}
}

/* 
    mockscreen
 */


.mock-screen-component {
    padding: 10px;
    width: 80%;
    margin: auto;
}

.mock-screen-component img{
width: 100%;
}

@media screen and (max-width: 490px) {
    .mock-screen-component {
        padding: 10px;
        width: 90%;
        margin: auto;
    }
}

/* 
    NO figures
 */


.figure-component{
    width: 75%;
    margin: 40px auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
.communities-comp,.message-comp{
    min-width: 20%;
    padding: 0 30px;
    margin: 20px;
}

.fig-tag{
    font-size: 90px;
    text-align: center;
    margin: 0px;
    font-family: Poppins;
}
.fig-img{
    text-align: left;
}
.para-tag{
    text-align: center;
    margin: 0px;
    font-size: 22px;
    color: #979ea8;
    font-family:Open Sans ;
}

@media screen and (max-width: 490px) {

    .figure-component{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .communities-comp,.message-comp{
        min-width: 40%;
    }
    
    .fig-tag{
        font-size: 80px;
    }

}


/* 
    wave Sec
 */

.wave-component1_top{
    background-image:url("./wave1_top.svg");
    background-size: 100% 180px !important;
    height: 140px;
    background-repeat: no-repeat;
    /* background-size: auto; */
}
.wave-component1_bottom{
    background-image:url("./wave1_bottom.svg");
    background-size: 100% 180px !important;
    height: 180px;
    background-repeat: no-repeat;
}

.wave-component2_top{
    background-image:url("./wave2_top.svg");
    background-size: 100% 180px !important;
    height: 140px;
    background-repeat: no-repeat;
    /* background-size: auto; */
}
.wave-component2_bottom{
    background-image:url("./wave2_bottom.svg");
    background-size: 100% 180px !important;
    height: 180px;
    background-repeat: no-repeat;
}


.wave_bg1{
    background-color: var(--Blue);
}
.wave_sec{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}
.wave_sec_text{
    width: 40%;
    margin: auto;
}
.wave_sec_text h1{
    font-size: 38px;
    font-weight: 700;
    font-family: Poppins;
    color: var(--Cyan);
}
.wave_sec_text p{
    font-size: 18px;
    font-weight: 400;
    font-family: Open Sans;
    color: var(--Cyan);
}

.wave_sec_img{
    width: 40%;
    margin: auto;
}
.wave_sec_img img{
    width: 100%;
}
.wave_bg3{
    padding: 40px;
    /* margin: auto; */
}
.wave_sec3{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.wave-header{
    font-family: Poppins;
    font-weight: 700;
    font-size: 23px;
    color: var(--Cyan);
}
.wave-btn{
    padding: 20px;
}
.wave-btn button{
    border-radius: 50px;
    background-color: var(--pink);
    width: 39%;
    padding: 22px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
}